<div class="{{styles.input_container}}">
    <div class="{{styles.input_container__placeholder}}">{{ placeholder }}</div>
    <input class="{{styles.input_container__input}}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}"></input>
    <div class="{{styles.input_container__error}}"><span>{{ error_text}}</span></div>
</div>  


