<div class="{{styles.inputContainer}}">
    <div class="{{styles.inputContainer__placeholder}}">{{ placeholder }}</div>
    <input class="{{styles.inputContainer__input}}" type="{{ type }}" placeholder="{{ placeholder }}"></input>
    <div class="{{styles.inputContainer__error}}"><span>{{ error_text}}</span></div>
</div>  


