<div class="{{styles.labeled_input_container}}">
    <div class="{{styles.labeled_input_container__label}}">{{ label }}</div>
    <div class="{{styles.labeled_input_container__input}}" >
        <input value="{{ value }}" type="{{ type }}"></input>
    </div>
</div>