<div class="{{styles.container}} {{styles.profile_container_size}}">
   <div class="{{styles.profile_container__left}}">
      <a href="#"><img src="{{left}}"></a>
   </div>
   <div class="{{styles.profile_container__right}}">
      <div class="{{styles.profile_container__image}}">
         <center>
            </p><img src="{{avatar}}" alt="Поменять аватар" title="Поменять аватар"></center>
      </div>
      <br>
      <br>
      {{> labeledinput label=oldpassword.label value=oldpassword.value type=oldpassword.type}}
      <hr class="{{styles.profile_container__hr}}" color="blue" />
      {{> labeledinput label=newpassword.label value=newpassword.value type=newpassword.type}}
      <hr class="{{styles.profile_container__hr}}" color="blue" />
      {{> labeledinput label=repnewpassword.label value=repnewpassword.value type=repnewpassword.type}}
      <hr class="{{styles.profile_container__hr}}" color="blue" />
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
         <center>{{> button label=button.label}}</center>
      </div>
   </div>
</div>