<div class="{{styles.container}} {{styles.container_flex}} {{styles.user_container_size}}">
    <div class="{{styles.user_container__title}}">
        <h3>{{caption}}</h3>
    </div>
    {{> input placeholder=user.placeholder value=user.value}}
    {{> button label=button.label}}
    <br>
</div>