<div class="{{styles.container}} {{styles.container_flex}} {{styles.fileupload_container_size}}">
    <div class="{{styles.fileupload_container__caption}}">
        <h3 style="{{caption_color}}">{{caption}}</h3>
    </div>
    <a href="#.html" class="{{styles.fileupload_container__link}}">{{link_text}}</a>
    <br>
    <br>
    <br>
    {{> button label=button.label}}
    <br>
    <div class="{{styles.fileupload_container__error_text}}">{{error_text}}</div>
</div>