<div class="{{styles.error_container}}">
    <div class="{{styles.error_container__stub }}"></div>
    <div class="{{styles.error_container__code}}">
        <h1>{{errorCode}}</h1>
    </div>
    <div class="{{styles.error_container__text}}">
        <h2>{{errorText}}</h2>
    </div>
    <a href="#.html">Назад к чатам</a>
</div>